/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*MY CODE*/

* {
  text-decoration: none;

}
main {
  padding-top: 100px;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #eee;
  width: 100%;
  height: 100px;
  font-family: Londrina solid;
}

header .header-brand {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 24px;
  font-weight: 900;
  color: #111;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0px;
}

header nav ul {
  margin: auto;
  display: block;
  width: fit-content;
}

header nav ul li {
  display: inline-block;
  float: left;
  padding: 0 20px;
  list-style: none;
}

header nav ul li a {
  font-family: Marck Script;
  font-size: 16px;
  font-weight: 900;
  color: #13131;
  text-transform: uppercase;
}

header .header-rewindings {
  display: none;
}

@media only screen and (min-width: 1000px) {
  header .header-brand {
    margin: 31px 0;
    text-align: left;
    line-height: 40px;
    padding: 0px 20px 0px 40px;
    border-right: 3px solid #111;
    float: left;
  }
  header nav ul {
    margin: 20px 0px 0px 20px;
    float: left;
  }


  header nav ul li a {
    line-height: 60px;
  }

  header .header-rewindings {
    display: block;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 900;
    color: #13131;
    text-transform: uppercase;
    line-height: 38px;
    border: 1px solid #111;
    float: right;
    margin-right: 40px;
    margin-top: 30px;
    padding: 0px 20px;
  }

}

/*INDEX*/

.index-banner {
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url('img/4.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
}

.vertical-center {
  display: table-cell;
  vertical-align: middle;

}

.index-banner h2 {
  font-family: Times new roman;
  font-size: 45px;
  font-weight: 900;
  line-height: 70px;
  color: orange;
  text-align: center;
  text-shadow: 2px 2px 8px #111;
}

.index-banner h1 {
  font-family: Marck Script;
  font-size: 28px;
  font-weight: 100;
  font-style: italic;
  line-height: 40px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 8px #111;
}

.index-links div {
  margin: 16px 16px 0;
  width: calc(100% - 32px);
  height: 100px;
  background-color: #f2f2f2;

}

.index-links div h3 {
  font-family: arial;
  font-size: 28px;
  font-weight: 300;
  font-style: bold;
  line-height: 100px;
  color: #111;
  text-align: center;
  text-transform: uppercase;
}
.index-links div h3:hover {
  color: orange;
}


@media only screen and (min-width: 1000px) {
  .wrapper {
    width: 1000px;
    margin: 0px auto;
  }
  .index-banner {
    width: 100%;
    height: 450px;
  }

.index-banner h1 {
    display: block;
    margin: 0 auto;
  }

  .index-links  {
    overflow: hidden;
  }

  .index-links div {
    margin: 20px 10px 0;
    height: 230px;
    background-color: #f2f2f2;
    float: left;
  }


.index-boxlink-rectangle {
  width: calc(50% - 100px) !important;
}

.index-boxlink-square {
  width: calc(50% - 20px) !important;
}

.index-links div h3 {
  line-height: 230px;
}
}
/*Rewindings*/

.Rewindings-link {
  overflow: hidden;
  margin-bottom: 20px;
}

.Rewindings-link .Rewindings-link h2:hover{
  color: SlateBlue;
}


.Rewindings-link h2 {
  font-family: Times new roman;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
}



.Rewindings-links .Rewindings-link {
  float: left;
  width: 323px;
  height: 323px;
  margin: 10px 5px 0px;
  background-color: #e3e3e3;
}

.Rewindings-links .Rewindings-link p {
  padding-top: 45%;
  font-family: Times new roman;
  font-size: 24px;
  color: #111;
  text-align: center;
  text-transform: uppercase;
}

/**Lifting and fitting**/

.Motors-costs {
  overflow: hidden;
  margin-bottom: 20px;
}




.Motors-cost h2 {
  font-family: Times new roman;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
}



.Motors-costs .Motors-cost {
  float: left;
  width: 323px;
  height: 323px;
  margin: 10px 5px 0px;
  background-color: #e3e3e3;
}

.Motors-costs .Motors-cost p {
  padding-top: 45%;
  font-family: Times new roman;
  font-size: 24px;
  color: #111;
  text-align: center;
  text-transform: uppercase;
}

/**Contact**/

/*FOOTER*/

footer {
  width: calc(100% - 120px);
  padding: 60px 60px;
  margin-top: 20px;
  background-color: #111;
  overflow: hidden;
}

footer ul {
  width: fit-content;
  float: left;
  padding-left: 20px;

}

footer ul li {
  display: block;
  list-style: none;
  color: white;
}

footer ul li a {
  font-family: Marck Script;
  font-size: 16px;
  color: orange;
  line-height: 20px;
}

.footer-main-links {
  display: none;
}

.footer-link-main {

}

@media only screen and (min-width: 1000px) {
  .footer-main-links {
    display: block;
  }

}
